[MASTER]
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=

[MESSAGES CONTROL]
# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED.
confidence=

# Disable all messages except for C0103
disable=C0114,E0401,C0116

[REPORTS]
# Tells whether to display a full report or only the messages.
reports=no

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

# String used as indentation unit.
indent-string='    '

# 변수명이 스네이크 케이스를 따르는지 검증하도록 설정합니다.
variable-rgx=^[a-z_][a-z0-9_]*$

# 메서드명이 스네이크 케이스를 따르는지 검증하도록 설정합니다.
method-rgx=^[a-z_][a-z0-9_]*$
